* {
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#mobile-nav {
    display: none;
}

.nav-bar {
    position: absolute;
    z-index: 3;
    width: 100%;
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a {
    text-decoration: none;
}
/* Nav Bar Section */
#mobile-nav {
    display: none;
}

.nav-bar {
    position: absolute;
    z-index: 3;
    width: 100%;
}

html {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

a {
    text-decoration: none;
}

ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0% 60px;
    list-style: none;
    height: 10vh;
    background-color: rgba(112, 128, 144, 0.2) 
    
}

li a {
    display: block;
    color: azure;
    text-decoration: none;
    font-size: 1.5rem;
}
li a:hover {
color: blanchedalmond;
    text-align: center;
    transition: all 0.5s ease-in-out;
    box-shadow: inset 0px 0px 5px blanchedalmond, 0 0 10px blanchedalmond;
}

#name {
    color: blanchedalmond;
    font-size: 30px;
    font-weight: bold;   
}
/* HERO SECTION */
.container{
    position: relative;
    height: 100vh;
    width: 100vh;
    overflow: hidden;
}
.image-container{
    position: relative;
    background: black;
    background-image: url(../Images/black-sand-background.jpg) repeat 0 0;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    margin-top: 0vh;
}
body {
    background-image: url(../Images/black-sand-background.jpg);
    background-size: cover;
}
.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    left: 0%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 2;
}
.hero-text {
display: flex;
justify-content: center;
align-items: left;
flex-direction: column;
position: absolute;
top: 35%;
left: 10%;
font-size: 25px;
text-transform: uppercase;
z-index: 2;
color: blanchedalmond;
}
.resume-cta {
    border: 2px solid blanchedalmond;
    width: 170px;
    padding: 30px; 
    margin-top: 20px;
}
.resume-text {
    color: grey;
    border: 2px;
    border-color: blanchedalmond;
}
.resume-cta:hover {
    background-color: blanchedalmond;
    transition: all 0.5s ease-in-out;
    color: black;
}
/* Sample Project Section */

.project-container {
    width: 100%;
    height: auto;
    align-items: center;
}

.project-header {
    color: blanchedalmond;
    font-size: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    
}

.projects {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: wrap;
}
.about-project {
    width: 400px;
    height: 400px;
    background: blanchedalmond;
    position: relative;
    box-shadow: -15px 7px 30px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 50px;
    background-image: url(../Images/me-and-moon.jpg);
    background-size: cover;
    background-position: center;
    text-decoration: blanchedalmond;
    align-items: center;
    
}

.sample-project {
    width: 400px;
    height: 400px;
    background: blanchedalmond;
    position: relative;
    box-shadow: -15px 7px 30px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 50px;
    background-image: url(../Images/pexels-fauxels-3184454.jpg);
    background-size: cover;
    background-position: center;
    text-decoration: blanchedalmond;
}
#aboutme {
    margin-top: 10px;
    color: black;
    font-size: 2rem;
    text-decoration: underline;
    text-align: center;
}




.text-container {
    position: absolute;
    height: 75px;
    width: 100%;
    z-index: 2;
    left: 0;
    bottom: 0;
    background-color: blanchedalmond;
    overflow: hidden;
    transition: all .41s ease-in;
}
.text-container:hover {
    height: 250px;
}

.name {
    margin-top: 10px;
    color: black;
    font-size: 2rem;
    text-decoration: underline;
}

.content {
    padding: 25px 0;
    color: black;
}

.button {
    border: 5px solid black;
    width: 160px;
    box-shadow: -15px 7px 30px rgba(0, 0, 0, 0.2);
    padding: 15px;
    margin-bottom: 75px;
}

.contact-container {
    margin: auto;
    width: auto;
    height: auto;
    background-color: blanchedalmond;
}

.contact-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: wrap;
}

.contact-image {
    height: 450px;
    width: 400px;
    background-image: url(../Images/pexels-alex-andrews-821754.jpg);
    background-size: cover;
    background-position: center;
}

.contact-text {
    height: auto;
    width: 40%;
    font-size: 1.5rem;
    margin-left: 100px;
    text-decoration: none;
    
}

h4 {
    margin: 100px;
    text-decoration: none;
}

